* {
    padding: 0;
    margin: 0;
}

body {
    opacity: 0;

    background: linear-gradient(0deg, #a2c1d8, #95c8d9, #8dced3, #8ed3c7, #9bd6b6, #b0d6a5, #cbd496, #e8d08f);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

    display: flex;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration-color: #72adb0;
    text-decoration-thickness: 0.2rem;
}

.screenshot {
    margin-top: -0.5px;
}

.screenshot_page_2_img {
    height: 305px;
}

.screenshot_page_3_img {
    height: 818px;
}

.inner {
    margin: auto;

    width: 312px;

    background: rgba(30, 30, 30, 0.69);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
}

.inner_page_2 {
    height: 312px;
}

.inner_page_3 {
    height: 818px;
}

.outter {
    width: 313.6px;

    border: 0.5px solid black;
    border-radius: 12.2px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.36); 

    position: absolute;
}

.outter_page_2 {
    height: 313.6px;
}

.banner {
    position: fixed;

    background: white;

    text-align: center;

    z-index: 10;
}

.banner_vertical {
    padding: 0 1.2rem;
    height: 100vh;

    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP', sans-serif;
}

.banner_horizontal {
    padding: 1.2rem 0;
    width: 100vw;
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
}